* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

*:focus {
    outline: none; 
}

a {
    text-decoration: none;
    color: rgb(12, 70, 146);
}

a:hover {
    color: rgb(72, 95, 173); 
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #913519, #993d18, #a14616, #a84f14, #af5811, #b7640d, #bf7106, #c57e00, #cd9200, #d3a600, #d6bb00, #d7d009);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar {
    display: none; 
    width: 80%;
    background: rgba(0, 0, 0, 0.192); 
    nav {
        font-size: 2rem; 
    }
}

.playContainer {
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.radioName {
    color: rgb(35, 255, 35); 
}

input {
    height: 100%;
    width: 50%; 
    margin-right: 2%; 
    font-size: 1.5rem; 
}

.submit {
    height: 100%;
    min-width: 10%; 
    font-size: 1.5rem; 
}
.submit:hover {
    color: rgb(16, 165, 16);
}

.findRadio {
    height: 7vh; 
    margin: 5vh 0; 
}
#pause, #play {
    background: none; 
    border: none;
    font-size: 4rem; 
}

.flashing {
    animation: flashing 1s linear infinite;
}

@keyframes flashing {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}